* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

.main_box {
  background-image: url("photo.jpg");
  background-size: cover;
  /* vh allows you to size elements relative to the height of the browser window */
  height: 100vh;
}

.btn_one {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  font-weight: bolder;
  position: absolute;
  line-height: 60px;
}

.btn_one:hover {
    transform: scale(1.2);
    transition: ease-in-out .3s;
}

.sidebar_menu .btn_two {
  position: absolute;
  left: 92%;
  font-size: 30px;
  color: gray;
}

.sidebar_menu .btn_two:hover {
    transform: scale(1.2);
    transition: ease-in-out .3s;
    color: rgba(255, 255, 255, 0.7);
}

.sidebar_menu {
  position: fixed;
  height: 100vh;
  width: 350px;
  left: -400px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transition: all 0.2s linear;
}

.sidebar_menu .logo {
  /* to give this position, you should give position to parent first, otherwise it will be applied on body tag */
  position: absolute;
  width: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  height: 70px;
  line-height: 60px;
}

.sidebar_menu .logo a {
  position: absolute;
  left: 25%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: #fc0 1px 0 5px;
}

.sidebar_menu .menu {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.sidebar_menu .menu li {
  padding: 2px 20px;
}

.sidebar_menu .menu li:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transition: .2s;
}

.sidebar_menu .menu i {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.sidebar_menu .menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.sidebar_menu .social_media {
  position: absolute;
  top: 93%;
  left: 22%;
}

.social_media i {
  color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  padding: 0px 5px;
  font-size: 20px;
}

.social_media i:hover {
  color: white;
  transform: scale(1.5);
  transition: ease-in-out .3s;
}

#check {
  /* to make checkbox invisible */
  display: none;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one {
    opacity: 0;;
}
